{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "GOV.UK Service"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body" data-testid="app-page-body">
        <p class="govuk-body-l">
          Apply for a licence to operate a greyhound racetrack in accordance with welfare standards.
        </p>
        
        <p>
          This service allows racetrack operators to apply for a welfare licence by demonstrating compliance with the required welfare conditions.
        </p>
        
        <h2 class="govuk-heading-m">Before you start</h2>
        
        <p>
          You'll need to provide information about:
        </p>
        
        <ul class="govuk-list govuk-list--bullet">
          <li>your racetrack name and location</li>
          <li>your contact details</li>
          <li>veterinary surgeon arrangements</li>
          <li>facilities for veterinary care</li>
          <li>kennel availability</li>
          <li>greyhound identification procedures</li>
          <li>record keeping systems</li>
          <li>injury recording processes</li>
        </ul>
        
        <p>
          You can save your application at any point and return to complete it later.
        </p>
        
        <h2 class="govuk-heading-m">Application process</h2>
        
        <ol class="govuk-list govuk-list--number">
          <li>Start a new application or continue a saved one</li>
          <li>Complete all sections of the form</li>
          <li>Review your answers before submission</li>
          <li>Submit your completed application</li>
        </ol>
        
        <p>
          The application takes approximately 20-30 minutes to complete if you have all the required information ready.
        </p>
        
        <a href="/dashboard" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Start now
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
      </div>
    </div>
  </div>
{% endblock %}
