{% extends 'layouts/page.njk' %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Page " + currentPage + " of " + totalPages
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        <strong>Condition 4:</strong> The licence holder must ensure that all greyhounds racing at the track are properly identified by microchip and ear tattoo.
      </p>

      <form method="post" action="/form/{{ formId }}/page/{{ currentPage }}" novalidate>
        {{ govukRadios({
          idPrefix: "greyhoundIdentified",
          name: "greyhoundIdentified",
          fieldset: {
            legend: {
              text: "Do you have a system in place to ensure all greyhounds are properly identified?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "true",
              text: "Yes",
              checked: greyhoundIdentified === true
            },
            {
              value: "false",
              text: "No",
              checked: greyhoundIdentified === false,
              conditional: {
                html: govukDateInput({
                  id: "anticipatedIdentificationDate",
                  namePrefix: "anticipatedIdentificationDate",
                  fieldset: {
                    legend: {
                      text: "When do you anticipate having this identification system in place?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  hint: {
                    text: "For example, 27 3 2023"
                  },
                  items: [
                    {
                      classes: "govuk-input--width-2",
                      name: "day",
                      value: anticipatedIdentificationDate_day
                    },
                    {
                      classes: "govuk-input--width-2",
                      name: "month",
                      value: anticipatedIdentificationDate_month
                    },
                    {
                      classes: "govuk-input--width-4",
                      name: "year",
                      value: anticipatedIdentificationDate_year
                    }
                  ]
                })
              }
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveForLater" value="true">
            Save for later
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %} 