{% extends 'layouts/page.njk' %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Page " + currentPage + " of " + totalPages
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">A summary of the licensing conditions required by the Welfare of Racing Greyhounds Regulations 2010 can be
      found in the Defra guidance produced to accompany the Regulations. The Guidance can be found on the Defra
      website <a href="http://www.defra.gov.uk/foodfarm/farmanimal/welfare/act/documents/greyhound-regs.pdf" class="govuk-link">here</a>.</p>

      <h3 class="govuk-heading-m">Condition 1: Attendance of a veterinary surgeon</h3>

      <p class="govuk-body">Page 8 of the Defra guidance on the Regulations explains in more detail when you need to have a veterinary
      surgeon in attendance and what veterinary surgeons are suitable.</p>

      <form method="post" action="/form/{{ formId }}/page/{{ currentPage }}" novalidate>
        {{ govukRadios({
          idPrefix: "hasVetAgreement",
          name: "hasVetAgreement",
          fieldset: {
            legend: {
              text: "Have you an agreement in place with a suitable veterinary surgeon or practice to attend
the track as required by the Regulations?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "true",
              text: "Yes",
              checked: hasVetAgreement === true
            },
            {
              value: "false",
              text: "No",
              checked: hasVetAgreement === false,
              conditional: {
                html: govukDateInput({
                  id: "anticipatedAgreementDate",
                  namePrefix: "anticipatedAgreementDate",
                  fieldset: {
                    legend: {
                      text: "When do you anticipate having this agreement in place?",
                      isPageHeading: false,
                      classes: "govuk-fieldset__legend--s"
                    }
                  },
                  hint: {
                    text: "For example, 27 3 2023"
                  },
                  items: [
                    {
                      classes: "govuk-input--width-2",
                      name: "day",
                      value: anticipatedAgreementDate_day
                    },
                    {
                      classes: "govuk-input--width-2",
                      name: "month",
                      value: anticipatedAgreementDate_month
                    },
                    {
                      classes: "govuk-input--width-4",
                      name: "year",
                      value: anticipatedAgreementDate_year
                    }
                  ]
                })
              }
            }
          ]
        }) }}

        {{ govukTextarea({
          label: {
            text: "Veterinary surgeon contact details",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Include name, address, telephone number"
          },
          id: "vetContact",
          name: "vetContact",
          value: vetContact,
          rows: 5
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveForLater" value="true">
            Save for later
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %} 