{% extends 'layouts/page.njk' %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: backLink
  }) }}
{% endblock %}

{% block content %}
  {{ appHeading({
    text: heading,
    caption: "Page " + currentPage + " of " + totalPages
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-body">
        <p class="govuk-body"><strong>Under the Regulations no person may apply for a licence if they are disqualified under:</strong></p>
        <ul class="govuk-list">
          <li>(a) section 34 of the Animal Welfare Act 2006;</li>
          <li>(b) section 3(3) of the Animal Boarding Establishments Act 1963 from keeping a boarding establishment for animals;</li>
          <li>(c) section 3(3) of the Breeding of Dogs Act 1973 from keeping a breeding establishment;</li>
          <li>(d) section 5(3) of the Pet Animals Act 1951 from keeping a pet shop;</li>
          <li>(e) section 4(3) of the Riding Establishments Act 1964 from keeping a riding establishment;</li>
          <li>(f) section 1 of the Protection of Animals (Amendment) Act 1954 from having custody of an animal; or</li>
          <li>(g) section 3 of the Protection of Animals Act 1911 from the ownership of an animal;</li>
        </ul>
        <p>and any licence issued to a person so disqualified is invalid.</p>
      </div>

      <form method="post" action="/form/{{ formId }}/page/{{ currentPage }}" novalidate>
        {{ govukRadios({
          idPrefix: "disqualified",
          name: "disqualified",
          fieldset: {
            legend: {
              text: "Are you subject to any disqualifications imposed following convictions for an offence under
any of the Acts listed in the Welfare of Racing Greyhounds Regulations 2010?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "true",
              text: "Yes",
              checked: disqualified === true,
              conditional: {
                html: govukTextarea({
                  id: "disqualificationDetails",
                  name: "disqualificationDetails",
                  label: {
                    text: "Please list the disqualifications to which you are subject"
                  },
                  value: disqualificationDetails
                })
              }
            },
            {
              value: "false",
              text: "No",
              checked: disqualified === false
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "applicationDate",
          namePrefix: "applicationDate",
          fieldset: {
            legend: {
              text: "Date of application",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 27 3 2023"
          },
          items: [
            {
              classes: "govuk-input--width-2",
              name: "day",
              value: applicationDate_day
            },
            {
              classes: "govuk-input--width-2",
              name: "month",
              value: applicationDate_month
            },
            {
              classes: "govuk-input--width-4",
              name: "year",
              value: applicationDate_year
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue"
          }) }}

          <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveForLater" value="true">
            Save for later
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %} 