{% extends 'layouts/page.njk' %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/dashboard"
  }) }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">New Application for a Greyhound Racetrack welfare licence</h1>

  <p class="govuk-body">This form must be completed by any greyhound racing track operator in England whose track is not regulated by the Greyhound Board of Great Britain. The Regulations are new regulations and no previous forms have been designed.</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: error,
              href: "#formName"
            }
          ]
        }) }}
      {% endif %}

      <p class="govuk-body">
        Use this service to apply for a greyhound racetrack welfare licence.
      </p>

      <p class="govuk-body">
        You'll need to provide information about:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>your racetrack details</li>
        <li>your contact information</li>
        <li>your compliance with licensing conditions</li>
      </ul>

      <p class="govuk-body">
        You can save your application and return to it later.
      </p>

      <form method="post" action="/form/new" novalidate>
        {{ govukInput({
          label: {
            text: "Application name",
            classes: "govuk-label--m"
          },
          hint: {
            text: "Enter a name to help you identify this application"
          },
          id: "formName",
          name: "formName",
          value: formName,
          errorMessage: error and {
            text: "Enter an application name"
          }
        }) }}

        {{ govukButton({
          text: "Start application"
        }) }}
      </form>
    </div>
  </div>
{% endblock %} 