{% extends 'layouts/page.njk' %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/form/" + formId + "/page/9"
  }) }}
{% endblock %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if error %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: error
            }
          ]
        }) }}
      {% endif %}

      <p class="govuk-body">
        {% if showChangeLinks %}
          Check your answers before submitting your application.
        {% else %}
          Your submitted application details.
        {% endif %}
      </p>

      <h2 class="govuk-heading-m">Applicant details</h2>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Racetrack name"
            },
            value: {
              text: formData.applicantDetails.racetrackName if formData.applicantDetails and formData.applicantDetails.racetrackName else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/1",
                  text: "Change",
                  visuallyHiddenText: "racetrack name"
                }
              ]
            }
          },
          {
            key: {
              text: "Your name"
            },
            value: {
              text: formData.applicantDetails.applicantName if formData.applicantDetails and formData.applicantDetails.applicantName else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/1",
                  text: "Change",
                  visuallyHiddenText: "your name"
                }
              ]
            }
          },
          {
            key: {
              text: "Your address"
            },
            value: {
              text: formData.applicantDetails.applicantAddress if formData.applicantDetails and formData.applicantDetails.applicantAddress else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/1",
                  text: "Change",
                  visuallyHiddenText: "your address"
                }
              ]
            }
          },
          {
            key: {
              text: "Your postcode"
            },
            value: {
              text: formData.applicantDetails.applicantPostcode if formData.applicantDetails and formData.applicantDetails.applicantPostcode else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/1",
                  text: "Change",
                  visuallyHiddenText: "your postcode"
                }
              ]
            }
          },
          {
            key: {
              text: "Racetrack address"
            },
            value: {
              text: formData.applicantDetails.racetrackAddress if formData.applicantDetails and formData.applicantDetails.racetrackAddress else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/1",
                  text: "Change",
                  visuallyHiddenText: "racetrack address"
                }
              ]
            }
          },
          {
            key: {
              text: "Racetrack postcode"
            },
            value: {
              text: formData.applicantDetails.racetrackPostcode if formData.applicantDetails and formData.applicantDetails.racetrackPostcode else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/1",
                  text: "Change",
                  visuallyHiddenText: "racetrack postcode"
                }
              ]
            }
          },
          {
            key: {
              text: "Telephone number"
            },
            value: {
              text: formData.applicantDetails.telephone if formData.applicantDetails and formData.applicantDetails.telephone else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/1",
                  text: "Change",
                  visuallyHiddenText: "telephone number"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: formData.applicantDetails.email if formData.applicantDetails and formData.applicantDetails.email else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/1",
                  text: "Change",
                  visuallyHiddenText: "email address"
                }
              ]
            }
          },
          {
            key: {
              text: "Disqualified"
            },
            value: {
              text: "Yes" if formData.applicantDetails and formData.applicantDetails.disqualified else "No"
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/2",
                  text: "Change",
                  visuallyHiddenText: "disqualification status"
                }
              ]
            }
          },
          {
            key: {
              text: "Disqualification details"
            },
            value: {
              text: formData.applicantDetails.disqualificationDetails if formData.applicantDetails and formData.applicantDetails.disqualificationDetails else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/2",
                  text: "Change",
                  visuallyHiddenText: "disqualification details"
                }
              ]
            }
          },
          {
            key: {
              text: "Application date"
            },
            value: {
              text: formData.applicantDetails.applicationDate | date if formData.applicantDetails and formData.applicantDetails.applicationDate else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/2",
                  text: "Change",
                  visuallyHiddenText: "application date"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Licensing conditions</h2>
      
      <h3 class="govuk-heading-s">Condition 1: Veterinary Surgeon</h3>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Veterinary surgeon agreement"
            },
            value: {
              text: "Yes" if formData.licensingConditions and formData.licensingConditions.condition1 and formData.licensingConditions.condition1.hasVetAgreement else "No"
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/3",
                  text: "Change",
                  visuallyHiddenText: "veterinary surgeon agreement"
                }
              ]
            }
          },
          {
            key: {
              text: "Veterinary surgeon contact"
            },
            value: {
              text: formData.licensingConditions.condition1.vetContact if formData.licensingConditions and formData.licensingConditions.condition1 and formData.licensingConditions.condition1.vetContact else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/3",
                  text: "Change",
                  visuallyHiddenText: "veterinary surgeon contact"
                }
              ]
            }
          },
          {
            key: {
              text: "Anticipated agreement date"
            },
            value: {
              text: formData.licensingConditions.condition1.anticipatedAgreementDate | date if formData.licensingConditions and formData.licensingConditions.condition1 and formData.licensingConditions.condition1.anticipatedAgreementDate else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/3",
                  text: "Change",
                  visuallyHiddenText: "anticipated agreement date"
                }
              ]
            }
          },
          {
            key: {
              text: "Veterinary register"
            },
            value: {
              text: "Yes" if formData.licensingConditions and formData.licensingConditions.condition1 and formData.licensingConditions.condition1.hasVetRegister else "No"
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/3",
                  text: "Change",
                  visuallyHiddenText: "veterinary register"
                }
              ]
            }
          },
          {
            key: {
              text: "Anticipated register date"
            },
            value: {
              text: formData.licensingConditions.condition1.anticipatedRegisterDate | date if formData.licensingConditions and formData.licensingConditions.condition1 and formData.licensingConditions.condition1.anticipatedRegisterDate else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/3",
                  text: "Change",
                  visuallyHiddenText: "anticipated register date"
                }
              ]
            }
          }
        ]
      }) }}

      <h3 class="govuk-heading-s">Condition 2: Facilities</h3>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Facilities ready"
            },
            value: {
              text: "Yes" if formData.licensingConditions and formData.licensingConditions.condition2 and formData.licensingConditions.condition2.facilitiesReady else "No"
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/5",
                  text: "Change",
                  visuallyHiddenText: "facilities ready"
                }
              ]
            }
          },
          {
            key: {
              text: "Anticipated facilities date"
            },
            value: {
              text: formData.licensingConditions.condition2.anticipatedFacilitiesDate | date if formData.licensingConditions and formData.licensingConditions.condition2 and formData.licensingConditions.condition2.anticipatedFacilitiesDate else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/5",
                  text: "Change",
                  visuallyHiddenText: "anticipated facilities date"
                }
              ]
            }
          }
        ]
      }) }}

      <h3 class="govuk-heading-s">Condition 3: Kennels</h3>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Kennels ready"
            },
            value: {
              text: "Yes" if formData.licensingConditions and formData.licensingConditions.condition3 and formData.licensingConditions.condition3.kennelsReady else "No"
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/6",
                  text: "Change",
                  visuallyHiddenText: "kennels ready"
                }
              ]
            }
          },
          {
            key: {
              text: "Anticipated kennels date"
            },
            value: {
              text: formData.licensingConditions.condition3.anticipatedKennelsDate | date if formData.licensingConditions and formData.licensingConditions.condition3 and formData.licensingConditions.condition3.anticipatedKennelsDate else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/6",
                  text: "Change",
                  visuallyHiddenText: "anticipated kennels date"
                }
              ]
            }
          }
        ]
      }) }}

      <h3 class="govuk-heading-s">Condition 4: Greyhound Identification</h3>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Greyhound identification"
            },
            value: {
              text: "Yes" if formData.licensingConditions and formData.licensingConditions.condition4 and formData.licensingConditions.condition4.greyhoundIdentified else "No"
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/7",
                  text: "Change",
                  visuallyHiddenText: "greyhound identification"
                }
              ]
            }
          },
          {
            key: {
              text: "Anticipated identification date"
            },
            value: {
              text: formData.licensingConditions.condition4.anticipatedIdentificationDate | date if formData.licensingConditions and formData.licensingConditions.condition4 and formData.licensingConditions.condition4.anticipatedIdentificationDate else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/7",
                  text: "Change",
                  visuallyHiddenText: "anticipated identification date"
                }
              ]
            }
          }
        ]
      }) }}

      <h3 class="govuk-heading-s">Condition 5: Record Keeping</h3>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Records kept"
            },
            value: {
              text: "Yes" if formData.licensingConditions and formData.licensingConditions.condition5 and formData.licensingConditions.condition5.recordsKept else "No"
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/8",
                  text: "Change",
                  visuallyHiddenText: "records kept"
                }
              ]
            }
          },
          {
            key: {
              text: "Anticipated records date"
            },
            value: {
              text: formData.licensingConditions.condition5.anticipatedRecordsDate | date if formData.licensingConditions and formData.licensingConditions.condition5 and formData.licensingConditions.condition5.anticipatedRecordsDate else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/8",
                  text: "Change",
                  visuallyHiddenText: "anticipated records date"
                }
              ]
            }
          }
        ]
      }) }}

      <h3 class="govuk-heading-s">Condition 6: Injury Records</h3>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Injury records kept"
            },
            value: {
              text: "Yes" if formData.licensingConditions and formData.licensingConditions.condition6 and formData.licensingConditions.condition6.injuryRecordsKept else "No"
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/9",
                  text: "Change",
                  visuallyHiddenText: "injury records kept"
                }
              ]
            }
          },
          {
            key: {
              text: "Anticipated injury records date"
            },
            value: {
              text: formData.licensingConditions.condition6.anticipatedInjuryRecordsDate | date if formData.licensingConditions and formData.licensingConditions.condition6 and formData.licensingConditions.condition6.anticipatedInjuryRecordsDate else 'Not provided'
            },
            actions: showChangeLinks and {
              items: [
                {
                  href: "/form/" + formId + "/page/9",
                  text: "Change",
                  visuallyHiddenText: "anticipated injury records date"
                }
              ]
            }
          }
        ]
      }) }}

      {% if showChangeLinks %}
        <form method="post" action="/form/{{ formId }}/review" novalidate>
          <div class="govuk-button-group">
            {{ govukButton({
              text: "Submit application"
            }) }}

            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="saveForLater" value="true">
              Save for later
            </button>
          </div>
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %} 